.header {
    max-width: 1440px;
    height: 1380px;
    background: #E5E000;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white  
    
}
.header-title {
    padding: 80px;    
    font-size: 50px;    
}
.header-image {
    min-width: 1440px;
    width: 1440px;
    height: 1080px;
    min-height: 1080px;    
}
.header-text {    
    font-size: 25px;
    padding: 40px 80px;    
}
.content { 
    font-family: Arial, Helvetica, sans-serif;     
    font-weight: bold;
    height: auto;
    max-width: 1440px;
    font-size: 50px;
    line-height: 50px; 
}
p {
    padding: 50px 80px;
    
}
.footer {
    display: flex;
    min-width: 100vw;
    min-height: 200px;
    background-color: #E5E000;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}
.footer-child {      
     font-size: 50px;     
     color: white;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;          
    }